.App {
  text-align: center;
  
}

.bg-poko{
  background: linear-gradient(120deg, rgba(0, 247, 255, 0.603), rgba(240, 240, 127, 0.596),rgba(206, 43, 206, 0.596), rgba(57, 230, 57, 0.651));

}

.logo{
  height: 1.5rem;
  width: 2rem;
  animation: logo infinite 15s linear ;
}

@keyframes logo {
  0%{ transform: rotate(0deg); }
  25%{ transform: rotate(90deg); }
  50%{ transform: rotate(120deg); }
  75%{ transform: rotate(270deg); }
  100%{ transform: rotate(360deg); }
}

.loading{
  display: initial;
  font-size: 100px;
}

.fa-spinner{
  animation: spinner infinite 2s linear; 
  background: -webkit-linear-gradient(120deg, rgba(0, 247, 255), rgba(240, 240, 127),rgba(206, 43, 206), rgba(57, 230, 57));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes spinner {
  0%{ transform: rotate(0deg); }
  25%{ transform: rotate(90deg); }
  50%{ transform: rotate(120deg); }
  75%{ transform: rotate(270deg); }
  100%{ transform: rotate(360deg); }
}